<footer id="info">
  {% if page.url == "/" %}
    <p>more soon...maybe, meanwhile <a href="/share-your-story/">share</a> your own</p>
  {% endif %}

  <a href="https://davehakkens.nl" class="by">A project by Dave Hakkens</a>

  <ul>
    <li>
      <a href="http://twitter.com/davehakkens" target="_blank">Twitter</a>
    </li>
    <li>
      <a href="http://facebook.com/davehakkens" target="_blank">Facebook</a>
    </li>
    <li>
      <a href="https://www.youtube.com/user/hakopdetak" target="_blank">YouTube</a>
    </li>
    <li>
      <a href="https://davehakkens.nl/mailinglist/" target="_blank">Email</a>
    </li>
  </ul>
</footer>
