<nav id="menu">
  <h1>Menu</h1>

  <ul>
    {% assign sorted = (site.pages | sort: "index") %}

    {% for node in sorted %}

      {% assign current = nil %}

      {% if page.url == node.url %}
        {% assign current = "current-menu-item" %}
      {% endif %}

      {% unless node.url contains "assets" %}
        {% unless node.url contains "." %}
          <li class="{{current}}">
            <a href="{{node.url}}">{{node.title}}</a>
          </li>
        {% endunless %}
      {% endunless %}

    {% endfor %}
  </ul>
</nav>
