---
layout: default
---

<section id="movie" class="single">
  <a href="/" class="toggle-nav on">
    <b></b>
    <b></b>
    <b></b>
  </a>

  <div class="inner">
      <div class="movie-titles">
        <h1>{{page.title}}</h1>
        <h2>{{page.subtitle}}</h2>
      </div>
    <div class="direction">
      {% if page.previous.url %}
        <a href="{{page.previous.url}}" class="prev">
          {% include svg/arrow-left.svg %}
        </a>
      {% endif %}

      {% if page.next.url %}
        <a href="{{page.next.url}}" class="next">
          {% include svg/arrow-right.svg %}
        </a>
      {% endif %}
    </div>

    <iframe width="854" height="480" src="//www.youtube.com/embed/{{page.youtube}}" frameborder="0" allowfullscreen></iframe>
  </div>

<div class="inner">
<div class="moviecard">
     <div class="info">
        <div class="aboutmovie"><p>{{page.about}}</p></div>
        <div class="meta"><p>Made by {{page.maker}}</p>
        <p>{{ page.date | date: '%B, %Y' }}</p>
        <a href="{{page.discussion}}" target="_blank" class="discuss">discuss this video</a></div>
     </div>
</div>
<div class="thumbnail"> <img src="/assets/images/stories/{{page.preview-large}}"></div>


  </div>
</section>
