---
layout: default
---

<section id="movie" class="single">
  <a href="/" class="toggle-nav on">
    <b></b>
    <b></b>
    <b></b>
  </a>

  <div class="inner">
    <h1>{{page.title}}</h1>

    <div class="rating">
      <?php single_rating() ?>
    </div>

    <div class="direction">
      <a href="<?= post_direction( 'prev' ) ?>" class="prev">
        {% include svg/arrow-left.svg %}
      </a>

      <a href="<?= post_direction( 'next' ) ?>" class="next">
        {% include svg/arrow-right.svg %}
      </a>
    </div>

    <iframe width="854" height="480" src="//www.youtube.com/embed/<?= explode( 'v=', $video )[1] ?>" frameborder="0" allowfullscreen></iframe>

    <a href="{{page.discussion}}" target="_blank" class="discuss">discuss this video</a>
  </div>
</section>
